<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header apo-header">
        <button type="button" class="navbar-toggle collapsed centered-header-btn" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span>
          <a class="display-flag navbar-brand" href="#/"><img src="/images/uruguay.png" alt="Uruguay"> Clásico-Uy </a>
        </span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"  ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        <ul class="nav navbar-nav" ng-repeat="option in menuOptions">
          <li ng-class="{'active' : option.selected}" class="centered-option"><a ng-click="goToOption(option)">{{option.name}}</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>