<div class="jumbotron">
	<h2>¿Cómo funciona?</h2>

	<div class="panel panel-warning">
	  <div class="panel-heading">Si sos de Peñarol</div>
	  <div class="panel-body">
	    <p class="text-left">
	    	Para aparecer en el muro de tweets de Peñarol tenés que twittear nombrando a  <b> @OficialCAP </b> o usando el hashtag <b> #Peñarol</b>.
  		</p>
	  </div>
	</div>


	<div class="panel panel-danger">
	  <div class="panel-heading">Si sos de Nacional</div>
	  <div class="panel-body">
	    <p class="text-left">
	    	Para aparecer en el muro de tweets de Nacional tenés que twittear nombrando a <b>@nacional </b>  o usando el hashtag <b> #NacionalUy</b>.
  		</p>
	  </div>
	</div>
</div>