<div class="panel panel-info">
  <div class="panel-heading">Publicidad</div>
  <div class="panel-body text-center">
    <p>
      <a href="mailto:clasicouy@gmail.com?Subject=Contacto" target="_top">
        Publique aquí: clasicouy@gmail.com
      </a>
    </p>
  </div>
</div>

<h3 class="text-center">
  <a target="_blank" href="https://twitter.com/search?f=realtime&q=%23DisfrutaElClasico&src=typd">
    #DisfrutaElClasico
  </a>
</h3>

<div class="container-fluid">
  <div class="row">
    <div class="text-center col-md-6 col-xs-12 col-sm-6">
      <div>
        <img width=180 height=200 src="images/cap.png" alt="Peñarol" class="mb-10">
      </div>
      <tw-widget 
        link="{{capWidgetLink}}" id="{{capWidgetId}}" title="{{capWidgetTitle}}">
      </tw-widget>
    </div>
    <div class="text-center col-md-6 col-xs-12 col-sm-6">
      <div class="text-center">
        <img width=180 height=200 src="images/nacional.png" alt="Nacional" class="mb-10">
      </div>
      <tw-widget 
        link="{{nacWidgetLink}}" id="{{nacWidgetId}}" title="{{nacWidgetTitle}}">
      </tw-widget>
    </div>
  </div>
</div>

<h3 class="text-center">
  <a target="_blank" href="https://twitter.com/search?f=realtime&q=%23DisfrutaElClasico&src=typd">
    #DisfrutaElClasico
  </a>
</h3>

<div class="panel panel-info">
  <div class="panel-heading">Publicidad</div>
  <div class="panel-body text-center">
    <p>
      <a href="mailto:clasicouy@gmail.com?Subject=Contacto" target="_top">
        Publique aquí: clasicouy@gmail.com
      </a>
    </p>
  </div>
</div>
